[build]
  command = "pip install -r requirements.txt && cp -r static . && cp -r templates ."
  publish = "."

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  PYTHON_VERSION = "3.10"